* {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: bold;
}

.social-page {
    width: 1200px;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}